/* custom styles */
.Me {
  width: 14%;
  height: 14%;
  display: block;
  margin: 0 auto;
  background: white;
  border-top-left-radius: 3px;
  border-radius: 106px 108px 112px;
  box-shadow: 5px 5px 8px black;
}
.bg-img {
  position: absolute;
  position: fixed;
  z-index: -1;
  width: 100%;
  max-height: 100%;
}
h2 {
  text-align: center;
  color: white;
  text-shadow: 2px 1px 2px black;
}
h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 1px 2px black;
}
h3 {
  text-align: center;
  color: white;
  text-shadow: 2px 1px 2px black;
}
p {
  text-align: center;
  color: white;
  text-shadow: 2px 1px 2px black;
}
.line {
  text-align: center;
  color: white;
  text-shadow: 2px 1px 2px black;
}
section {
  float: right;
  height: 25%;
  width: 15%;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 height: 40px;
 overflow: hidden;
 background-color: #333;
}
  li {
  color: white;
  position: relative;
  margin-left: 16%;
  list-style-type: none;
  display: inline;
}
a {
  color: white;
}
ol {
  margin-left: : 10px;
  text-align: center;
  display: inline-block;;
}
